.wrapper {
    margin: 30px auto;
    max-width: 700px;
}

.slide{
    height: 50px;
    width: 100%;
    border: 1px solid red;
}

.slide1{
    background: greenyellow;  
}

.slide1:before{
    content: "Slide 1 has just appeared";
}

.slide2{
    background: green;  
}

.slide2:before{
    content: "Slide 2 has just appeared";
}

.slide3{
    background: blueviolet;  
}

.slide3:before{
    content: "Slide 3 has just appeared";
}